:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --line-height: 24px;
  --header-height: 72px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: var(--slate);
  line-height: var(--line-height);
  letter-spacing: 0.02em;
  text-align: left;
  margin: 0;
}

ul {
  list-style: none; /* Remove bullets */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  /* styleName: Header 1; */
  font-size: 56px;
  line-height: 60px;
}

h2 {
  /* styleName: Header 2; */
  font-size: 36px;
  line-height: 40px;
}

h3 {
  /* styleName: Header 3; */
  font-size: 20px;
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
  max-width: 100%;
}

a:link,
a:visited {
  font-size: 16px;
  font-style: normal;
  line-height: inherit;
  letter-spacing: 0.04em;
  color: var(--slate);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--iris);
}

header {
  border-bottom: 1px solid var(--cornflower);
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.web {
  font-size: var(--logo-font-size);
  color: var(--iris);
}

.studio-dark {
  font-size: var(--logo-font-size);
  color: var(--navy-blue);
}

.studio-light {
  font-size: var(--logo-font-size);
  color: var(--cloud);
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 76px; /* Space between logo and header items */
}

.main-nav a {
  color: var(--slate);
  font-size: 16px;
  font-weight: 500;
  line-height: var(--line-height);
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
  padding: 24px 0;
}

.main-nav a:hover {
  color: var(--ocean);
  text-decoration: solid 2px var(--ocean);
}

.header-content {
  display: flex;
  justify-content: space-between; /* Space elements evenly across the header */
  align-items: center;
  margin: 0 auto;
}

.header-item-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.section-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-container h2 {
  margin-bottom: 72px;
  text-align: center;
}

.card-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.hero {
  background-color: var(--navy-blue);
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
    url(../images/hero-bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  text-align: center;
  padding-bottom: 188px;
  padding-top: 188px;
}

.hero h1 {
  color: white;
  margin: 0 auto 48px auto;
  max-width: 496px;
}

.primary-button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: 0.04em;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  background-color: var(--iris);
  color: white;
  box-shadow: 0 4px 4px 0 #00000026;
  text-align: center;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--ocean);
}

.is-hidden {
  display: none;
}

.modal {
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 80px;
  width: 408px;
  height: 584px;
  transform: translate(-50%);
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background: var(--dairy);
}

.modal-backdrop {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
}

.modal-close-btn {
  position: absolute;
  right: 24px;
  width:24px;
  height:24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cornflower);
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean);
  border-color: var(--ocean);  
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--cloud);
}

.close-icon {
  width: 8px;
  height: 8px;
  fill: var(--navy-blue);
}

.benefits {
  padding-top: 120px;
}

.benefits-icon-wrapper {
  padding: 24px 100px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

.benefits-icon {
  width: 64px;
  height: 64px;
}

.benefits li {
  flex-basis: calc((100% - 72px) / 4);
}

.benefits h3 {
  margin-bottom: 8px;
}

.business-card {
  flex-basis: calc((100% - 48px) / 3);
}

.team-section-wrapper {
  background-color: var(--cloud);
}

.team-card {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
  background-color: white;
  flex-basis: calc((100% - 72px) / 4);
}

.team-card-text-container {
  padding: 32px 16px 32px 16px;
  text-align: center;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}

.client-icon {
  fill: var(--light-slate);
  border: 1px solid var(--light-slate);
  padding: 16px 32px;
  border-radius: 4px;
  width: 168px;
  height: 88px;
  cursor: pointer;
}

.client-icon:hover,
.client-icon:focus {
  fill: var(--ocean);
  border-color: var(--ocean);
}

.portfolio-section-container {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-container {
  margin: 0 auto var(--header-height) auto;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.portfolio-filter-button {
  background-color: var(--cloud);
  color: var(--iris);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: var(--line-height);
  letter-spacing: 0.04em;
  text-align: center;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  background-color: var(--ocean);
  color: white;
}

.selected-portfolio-filter,
.selected-portfolio-filter:active {
  background-color: var(--iris);
  color: white;
}

.portfolio-cards-container {
  text-wrap: wrap;
  margin-bottom: 96px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-card-text-container {
  border-right: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
  padding: 32px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
}

.footer-container {
  background-color: var(--navy-blue);
  color: var(--cloud);
  padding: 100px 0;
}

.footer-content {
  display: flex;
  gap: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}

.footer-social-media h3 {
  margin-bottom: 16px;
}

.social-media-icons-container {
  display: flex;
  gap: 16px;
}

.social-media-icon {
  fill: var(--cloud);
  background-color: var(--iris);
  padding: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.social-media-icon:hover,
.social-media-icon:focus {
  background-color: var(--ocean);
}

.footer-social-media .social-media-icon:hover,
.footer-social-media .social-media-icon:focus {
  background-color: var(--green);
}

.icon {
  width: 24px;
  height: 24px;
}
