:root {
  --iris-100: #5d5fef;
  --iris-80: #7879f1;
  --iris-60: #a5a6f6;
  --cornflower: #e7e9fc;
  --accent: #4d5ae5;
  --ocean: #404bbf;
  --slate: #434445;
  --cloud: #f4f4fd;
  --text: #2e2f42;
  --navy-blue: #2e2f42;
  --page-padding: 156px;
  --header-height: 72px;
  --line-height: 24px;
  --card-width: 264px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  line-height: var(--line-height);
  letter-spacing: 0.02em;
  text-align: left;
  margin: 0;
}

main {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}

ul {
  list-style: none;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex;
}

li {
  list-style-type: none;
}

li + li {
  margin-left: var(--line-height);
}

button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  background-color: var(--accent);
  color: white;
  box-shadow: 0px 4px 4px 0px #00000026;
}

button:hover {
  background-color: var(--ocean);
}

h1,
h2 {
  text-align: center;
  margin-top: var(--header-height);
  margin-bottom: 36px;
}

h1 {
  /* styleName: Header 1; */
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
}

h2 {
  /* styleName: Header 2; */
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

h3 {
  /* styleName: Header 3; */
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

a:link,
a:visited {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: var(--accent);
}

a:hover {
  color: var(--slate);
}

a:active {
  color: var(--ocean);
}

header {
  border-bottom: 1px solid var(--cornflower);
  height: var(--header-height);
  display: flex;
  justify-content: space-between; /* Space elements evenly across the header */
  align-items: center;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}

footer {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  padding-top: var(--header-height);
  padding-bottom: var(--header-height);
  background-color: var(--navy-blue);
  color: var(--cloud);
  height: var(--page-padding * 2);
}

footer p {
  margin-bottom: 0;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.web {
  color: var(--accent);
}

.studio-dark {
  color: var(--text);
}

.studio-light {
  color: var(--cloud);
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav a {
  color: var(--text);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
}

.main-nav a:hover {
  color: var(--ocean);
  text-decoration: solid 2px var(--ocean);
}

.main-nav ul {
  display: flex;
  align-items: center;
}

.main-nav li {
  margin-left: 40px;
}

address {
  display: flex;
  align-items: center;
}

address ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

address li {
  margin-left: 0.5em;
}

.hero {
  background-color: var(--navy-blue);
  color: white;
  height: 600px;
  text-align: center;
}

.hero h1 {
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: var(--line-height);
  max-width: 496px;
}

.perks li {
  width: var(--card-width);
  padding-top: var(--header-height);
}

.business img {
  width: 360px;
  height: 300px;
}

.team img {
  width: 264px;
  height: 260px;
}

.team h3 {
  padding-top: 32px;
}

.team li {
  text-align: center;
  padding: 0px 0px 32px 0px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
  margin-bottom: var(--header-height);
}
